<!-- <div class="back">
  <h1 class="animated fadeInDown">PhoneBookA</h1>
  <h2 class="animated fadeInDown">Create your contact easy and fast!</h2>
  <button mat-button mat-raised-button routerLink="/edit/0">Get Started Now</button>
</div> -->

<header class="bg-header">
  <div class="content">
    <div class="logo">PhonebOOka</div>
    <div class="title">
      Welcome To Adress Book
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.
    </div>
  </div>
</header>

<!-- Section: Features v.1 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5 mt-10">Why is it so great?</h2>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
      <h5 class="font-weight-bold my-4">Add Them ALl</h5>
      <p class="mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
        aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-book fa-3x"></i>
      <h5 class="font-weight-bold my-4">Find Them All</h5>
      <p class="mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
        aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-users fa-3x"></i>
      <h5 class="font-weight-bold my-4">Make Friends</h5>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam
        minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.1 -->


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block  w-100  justify-content-center" height="700px">
        <div class="center mx-auto">
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid mx-auto mb-4"
              alt="First sample avatar image">
          </div>
          <!--Content-->
          <p>
            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
            officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium
            iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold text-center">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3 text-center">Founder at ET Company</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-blok w-100" height="700px">
        <div class="center mx-auto">
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid mx-auto mb-4"
              alt="First sample avatar image">
          </div>
          <!--Content-->
          <p>
            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
            officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium
            iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold text-center">John Doe</h4>
          <h6 class="font-weight-bold my-3 text-center">Manager</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-blok w-100" height="700px">
        <div class="center mx-auto">
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid mx-auto mb-4"
              alt="First sample avatar image">
          </div>
          <!--Content-->
          <p>
            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
            officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium
            iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold text-center">Jane Doe</h4>
          <h6 class="font-weight-bold my-3 text-center">Designer</h6>
        </div>
      </div>
    </div>


    <footer class="navbar-dark special-color-dark">
      <p>PhoneBookA &copy; 2018</p>
    </footer>
