<!-- <mat-card>
  <a href="#" class="logo">PhoneBookA</a>
  <a routerLink="list" routerLinkActive="active">Contact list</a>
  <a routerLink="edit/0" routerLinkActive="active">Create new contact</a>
</mat-card> -->

<nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
  <a class="navbar-brand logo" href="#">PhoneBookA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="list" routerLinkActive="active">List contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="edit/0" routerLinkActive="active">Create contact</a>
      </li>
      <li class="nav-item">
        <app-log-in-contact></app-log-in-contact>
      </li>


    </ul>
  </div>
</nav>

<mat-spinner *ngIf="showLoadingIndicator" class="spinner"></mat-spinner>
<router-outlet></router-outlet>
